.header {
  .navbar-default {
    margin-bottom: 0px;
    .navbar-toggle {
      margin-top: 15px;
    }
    .navbar-header {
      height: 60px;
    }
    .navbar-brand {
      padding: 7px;
      margin-left: 8px;
      margin-top: 6px;
    }
    .navbar-nav {
      padding: 5px 15px;
      > li {
        margin-right: 30px;
        margin-bottom: 15px;
        > a {
          padding: 0px;
          line-height: normal;
          color: #fff;
          font-size: 14px;
          font-weight: 200;
          &:hover {
            opacity: .65;
          }
        }
        &.active {
          > a {
            color: #fff;
            opacity: .65;
            background-color: transparent;
            &:focus, &:hover {
              color: #fff;
              opacity: .65;
            }
          }
        }
        &.langs {
          > ul {
            display: flex;
            padding-left: 0px;
            > li {
              line-height: 32px;
              list-style: none;
              flex: none;
              color: #fff;
              margin-right: 5px;
              &:last-child {
                margin-right: 0px;
              }
            }
          }
        }
        &:last-child {
          margin-right: 0px;
          margin-bottom: 0px;
        }
      }
    }
    @media (min-width: 768px) {
      .navbar-nav {
        padding: 0;
        > li {
          margin-bottom: 0px;
        }
      }
      .navbar-right {
        margin-right: 0px;
      }
      .navbar-brand {
        margin-left: -7px;
      }
      .navbar-nav {
        > li {
          > a {
            line-height: 60px;
          }
          &.langs {
            > ul {
              > li {
                flex: 1;
                line-height: 60px;
              }
            }
          }
        }
      }
    }
  }
}