// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  height: 100%;
  @import "header";
  @import "flex_wrap";
  @import "footer";

  @media (max-width: 1200px) {
    .container {
      width: 100%;
    }
  }
}